<% layout('layout') -%>

	<nav>
		<div class="navwrap">
			<a href="/">首頁</a>
			<a href="/logout">登出</a>
		</div>
	</nav>
	<div class="wrap">
		<h1>
			<%= title %>
		</h1>
		<h2 class="data">
			你的暱稱：<%= nickname %>
		</h2>
		<h2 class="data">
			你的帳號：<%= email %>
		</h2>
	</div>
 


